
html, body {
  font-family: 'Roboto', sans-serif; 
  max-width: 767px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#bloc-page{

    max-width: 1400px;
    margin:0 auto !important;
}
/*----------------Loader--------------------------------------*/
/*--------------------------Références---GraphikArt-Loader--------------------------------------------------------------------------------*/
#text{
   font-size: 15px;
   position: absolute;
   width:200px;
   top:calc(50% + 60px);
   left:calc(50% - 100px);
    
}

.LoaderInitial{
   
   position:fixed;
   left:0;
   right:0;
   bottom:0;
   top: 0;
   background:rgba(255,255,255,1);
   z-index:999999;
   animation-name:initLoader;
   animation-duration: 2.5s;
   animation-timing-function: ease;
   visibility:hidden;
}

.Loader{
    
    width: 90px;
    height: 90px;
    display: inline-block;
    top:calc(50% - 45px);
    left:calc(50% - 45px);
    position: absolute;
}

.Loader-double{
    border-radius: 50px ;
    border: 15px solid transparent;
    border-top-color: rgb(181, 117, 224);
    border-bottom-color: rgb(181, 117, 224);
    border-right-color: rgb(153, 226, 208);
    border-left-color: rgb(153, 226, 208);
    animation:root 2.5s linear 0s infinite;
}
.Loader-double:after{ 
    align-items: center;
    top: 8px; left: 8px;
    bottom: 8px; right: 8px;
    position: absolute;
    content: '';
    border-radius: 20px;
    border: 10px solid transparent;
    border-right-color: rgb(181, 117, 224);
    border-left-color: rgb(153, 226, 208);
    border-top-color: rgb(181, 117, 224);
    border-bottom-color: rgb(153, 226, 208);
    animation:root 0.5s linear 0s infinite;
    opacity: 1.2;
}
@keyframes root{
    0%{transform: rotate(0deg); } 
    100%{transform: rotate(360deg); }
}

@keyframes initLoader{

    from{

        visibility:hidden;

    }
    to{

        visibility:visible;

    }

}

/*----------------FIN------------Références---GraphikArt-Loader---------------------------------------------------------------------------------*/
/*--------FIN--------Loader-------------------------------------------------------------------------------------------------*/

nav{
    margin-top: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.bannerlogo img{
    margin-bottom: 4%;
    align-items: center;
    justify-content: center;
    width: 43%;
}
.loc{
    border-top: solid 2px rgb(211, 209, 209);
    background-color: rgb(234, 234, 234);
    height: 45px;
    min-width: 375px;
    display: flex;
    justify-content: center;   
    align-items: center;
}
.loc i{
    margin-right: 15px;
}
#PB {
    margin-left: 10px;
    margin-top: 31px;
    text-align: center;
}

h1 {
   font-size: 25px;
   text-align: center;
   margin-left: 70px;
   margin-right: 70px;
 
    }


/*------------test Stéphane----------------------------------------------------------------------*/
    *{
  
     box-sizing:border-box;
  
}

button{
    display:block;
    border:none;
    padding:15px;
    border-radius:20px;
    width:250px;
    margin:0 auto;
    margin-top:20px;
    cursor:pointer;
    height:70px;
    position:relative;
    background: rgb(246, 246, 246) 
 }
 
button svg{
 
    display:inline-block;
    width:18px;
    height:18px;
    vertical-align:middle;
    margin-right:10px;
 }

.size{
    width: 323px;
    margin-bottom: 18px;
}


button span:last-child{
    display:inline-block;
    width:24px;
    height:24px;
    background:rgb(184, 98, 219);
    color:#ffffff;
    text-align:center;
    padding-top:4px;
    border-radius:12px;
    position:absolute;
    top:50%;
    left:0;
    transform:translate3d(-50%,-50%, 0);
    
 }


button:hover{              
    background:#f3e5f5;
}


button:hover svg path{
  
     fill:#6a1b9a;
}

/*--------Fin----test Stéphane----------------------------------------------------------------------*/

/*-----------------------------------------------2----------------------------------------------------*/

/*-------------------------------------------------------------2-----------------------------------------------------*/
#PB h4{
    margin-top: -9px;
    font-size: small;
}

p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}
.bannerposition{
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 246, 246);
    height: 290px;
    max-width: 100%;
  
}
.titres{
   
    margin-top: 45px;
    justify-content: center;
}
.titres p{
    margin-left: 8px;
    margin-right: 12px;
}
.lienResto {
    height: 49px;
    width: 222px;
    background: linear-gradient(rgb(228, 132, 224), rgb(181, 117, 224));
    margin-left: 82px;
    margin-top: -7px;
    padding-top: 14px;
    border-radius: 25px 25px 25px 25px;
    color: rgb(252, 252, 252);

}

.animation-button{

    filter:brightness(90%);
    transition:filter ease 0.5s;

}
.animation-button:hover{

    filter:brightness(100%);

}
.texte {
    margin-left: 17px;
    margin-top: 0px;
    color: white;
    text-decoration: none;
}
.texte :hover{
    color: rgb(248, 244, 4);
}
.Fontionnement{
    margin-left: -168px;
    margin-top: 0px;
}
.liensFonctions {
    position:relative;
    margin: auto;
    max-height: 71px;
    width: 323px;
    background-color: rgb(246, 246, 246) ;
    margin-bottom:22px;
    border-radius: 21px 21px 21px 21px;
}
.BlocFontionnement{
    margin-bottom: 23px;
    margin-left: 14px;
}

.liensFonctions:hover{
    background-color: rgb(241, 232, 245);
    color: rgb(184, 98, 219);
    width: 100%;
}
.Numbers p:hover{
    background-color: rgb(184, 98, 219);
}
bloctitres--IconeCoeur:hover{
    color: rgb(184, 98, 219);
}
IconeCoeur:hover{
    color: rgb(184, 98, 219);
}



p{   
     margin-top: 10px;
}
.Numbers p{
    background-color: rgb(184, 98, 219);
    border-radius: 50%;
    width: 40px;
    height: 32px;
    margin-left: -89px;
    padding-top: 7px;
    margin-top: 15px;
    color: rgb(253, 253, 253); 
    font-size: 21px;
}
.texteliens2{
    font-size: 16px;
    color: black;
    text-decoration: none;
}
.size{
    box-shadow: 3px 3px 3px 3px hsl(0, 4%, 89%);
}
.size .IconesSVG{
    display: inline-block;
    margin-right: 16px;
    margin-left: -24px;
}

.texteliens{
    align-items: center;
    display: flex;
    margin-left: 74px;
    margin-top: 1px;
    color: black;
    text-decoration: none;
}

.Icones{
    margin-right: 25px;
}
.Icones i{
    font-size: 24px;
    margin-right: 13px;
    margin-left: -28px;
}

.texteliens a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}
h2{
    margin-left: 39px;
    margin-top: 27px;
    margin-bottom: 24px;
}
#BlocRestaurants{
    margin-left: 0px;
    background-color: rgb(244, 244, 244);
    height: 1100px;
    padding-top: 28px;
}
.BlocImgText{
    margin-left: 37px;
    width: 300px;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    margin-bottom: 25px;
}
.BlocImgText2{
    margin-left: -42px;
}
/*Test Bouton Nouveau-------------------------------------------*/

h5{
    text-align: center;
    margin-left: 246px;
    margin-top: -119px;
    font-size: 15px;
}
mark{
    padding-top: 5px;
    display: inline-block;
    height: 23px;
    width: 80px;
    background-color: rgb(153, 226, 208) ;
    color: rgb(0, 135, 102);
}
.coûtdecoeur1{
    height: 61px;
}
.bloctitres1{
    margin-top: 103px;
    margin-left: 58px;
}

restaurants__figcaption__like{
    margin-left: 280px;
    margin-top: -67px;
}
bloctitres--IconeCoeur{
    font-size: 25PX;
}

/*Test Bouton Nouveau-------------------------------------------*/

.coûtdecoeur{
    
    display: flex;
    justify-content: space-between;
}
.imgresto{
    margin-left: 44px;
    border-radius: 20px 20px 0 0;
    width: 296px;
    height: 140px;
}
.NomsRestos{
    width: 170px;
    margin-top: 0px;
    margin-left: 0px;
}
.lieux{
    margin-left: 0px;
    margin-top: -12px;
    margin-bottom: 20px;
}

.bloctitres{
    margin-top: -12px;
    margin-left: 59px;
    
}
/*--------------------------------Bouton Coeur-----------------------------------*/
/* heart checkboxes */


.restaurants__figcaption__like1 {
  position: relative;
  width: 2rem;
  margin-top: -69px; 
  margin-left: 232px;
  margin-bottom: 71px; 
  cursor: pointer;
 
}
.restaurants__figcaption__like2 {
    position: relative;
    width: 2rem;
    margin-top: -63px; 
    margin-left: 291px;
    margin-bottom: 71px; 
    cursor: pointer;
   
  }
.restaurants__figcaption__like3 {
    position: relative;
    width: 2rem;
    margin-top: 6px; 
    margin-right: 20px;
    margin-bottom: 71px; 
    cursor: pointer;
   
  }
.restaurants__figcaption__like4 {
    position: relative;
    width: 2rem;
    margin-top: 6px; 
    margin-right: 20px;
    margin-bottom: 71px; 
    cursor: pointer;
   
  }
.restaurants__figcaption__like__emptyheart {
  width: 2rem;
  position: absolute;
}

.restaurants__figcaption__like__fullheart {
  width: 2rem;
  position: absolute;
  opacity: 0;
}

.restaurants__figcaption__like__fullheart:hover {
  opacity: 1;
  transition: 500ms ease-in-out;
}


/*----------------FIN-----------Bouton Coeur-------------------------------------*/


.IconeCoeur{
    margin-right: 34px;
    margin-top: 9px;
}
.IconeCoeur i{
    font-size: 25PX;
}
/*----------------Footer---------------------------------------------------------*/
.Blocfooter{
    background-color: rgb(53, 53, 53);
    height: 280px;
    margin-left: 0px;
}

#imglogofooter img{
    width: 35%;
    margin-left: 60px;
    margin-top: 25px;
    color: rgb(252, 252, 252);
   
}
.imagelogo{
    color: rgb(252, 252, 252);
}

.Iconesfooter{
    display: flex;
    align-items: center;
    margin-left: 0px;
}
.Iconesfooter i{
    margin-left: 61px;
    color: white;
    
}
.titrefooter{
    margin-left: 22px;
    color: white;
}
.titrefooter2 {
    margin-left: 61px;
    color: white;
}
.Contact a{
    text-decoration: none;
    color: white;
}
/*Version Tablette------------------------------Version Tablette-----------------------------------*/